---
layout: default
---

<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
		
		<!-- Main -->
			<article id="main">
					
				<!-- One -->
					<section class="wrapper style4 container">
											<header><h2 id="Model">ThinkPad T430</h2></header>
						<div class="row oneandhalf">
							<div class="8u">
								
								<!-- Content -->
									<div class="content">
										<section>
											<a href="#" class="image featured"><img src="images/model/T430.jpg" alt="" /></a>
											<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
											<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan. </p>
											<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus, non hendrerit ipsum arcu tristique est.</p>
										</section>
									</div>
	
							</div>
							<div class="4u">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
											<h3 id="Specs">Specifications</h3>
											</header>
											<table>
												<thead><tr><th><i class="fa fa-microchip"></i> &nbsp; Processors</th><th></th></tr></thead>
												<tbody>
													<tr><td>Intel® Core i3-2328M</td><td id="FRU">04W4445</td></tr>
													<tr><td>Intel® Core i3-2370M</td><td id="FRU">04W4094</td></tr>
													<tr><td>Intel® Core i5-2520M</td><td id="FRU">04W0492</td></tr>
													<tr><td>Intel® Core i5-3210M</td><td id="FRU">04W4140</td></tr>
													<tr><td>Intel® Core i5-3230M</td><td id="FRU">04Y1313</td></tr>
													<tr><td>Intel® Core i5-3320M</td><td id="FRU">04W4137</td></tr>
													<tr><td>Intel® Core i5-3360M</td><td id="FRU">04W4138</td></tr>
													<tr><td>Intel® Core i7-3520M</td><td id="FRU">04W4139</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-palette"></i> &nbsp; Graphics</th><th></th></tr></thead>
												<tbody>
													<tr><td>Intel® HD Graphics 4000</td><td>Always</td></tr>
													<tr><td>NVIDIA® NVS 5400M</td><td>Optional</td></tr>
												</tbody>
											</table>
										</section>

										<section>
											<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
											<header>
												<h3>Amet Lorem Tempus</h3>
											</header>
											<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
											<footer>
												<ul class="buttons">
													<li><a href="#" class="button small">Learn More</a></li>
												</ul>
											</footer>
										</section>
									</div>

							</div>
						</div>					
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
						</div>
					</section>
					
			</article>