---
layout: default
title: T25
---

		<!-- Main -->
			<article id="main">
					
				<!-- One -->
					<section class="wrapper style4 container">
						<div class="row oneandhalf">
							<div class="8u">
								
								<!-- Content -->
									<div class="content">
										<section>
											<header><h2 id="Model">ThinkPad 25</h2></header>
											<a href="#" class="image featured"><img src="./main.png" alt="" /></a>
											<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
											<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan. </p>
											<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus, non hendrerit ipsum arcu tristique est.</p>
										</section>
									</div>
	
							</div>
							<div class="4u">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
											<h3 id="Specs">Configurations</h3>
											</header>
											<table>
												<thead><tr><th><i class="fa fa-microchip"></i> &nbsp; Processors</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td><a href="https://ark.intel.com/products/70927/Intel-Core-i3-2328M-Processor-3M-Cache-2_20-GHz" title="Intel ARK">Intel® Core i3-2328M</a></td><td id="FRU">04W4445</td></tr>
													<tr><td><a href="https://ark.intel.com/products/53442/Intel-Core-i3-2370M-Processor-3M-Cache-2_40-GHz" title="Intel ARK">Intel® Core i3-2370M</a></td><td id="FRU">04W4094</td></tr>
													<tr><td><a href="https://ark.intel.com/products/52229/Intel-Core-i5-2520M-Processor-3M-Cache-up-to-3_20-GHz" title="Intel ARK">Intel® Core i5-2520M</a></td><td id="FRU">04W0492</td></tr>
													<tr><td><a href="https://ark.intel.com/products/67355/Intel-Core-i5-3210M-Processor-3M-Cache-up-to-3_10-GHz-rPGA" title="Intel ARK">Intel® Core i5-3210M</a></td><td id="FRU">04W4140</td></tr>
													<tr><td><a href="https://ark.intel.com/products/72056/Intel-Core-i5-3230M-Processor-3M-Cache-up-to-3_20-GHz-BGA" title="Intel ARK">Intel® Core i5-3230M</a></td><td id="FRU">04Y1313</td></tr>
													<tr><td><a href="https://ark.intel.com/products/64896/Intel-Core-i5-3320M-Processor-3M-Cache-up-to-3_30-GHz" title="Intel ARK">Intel® Core i5-3320M</a></td><td id="FRU">04W4137</td></tr>
													<tr><td><a href="https://ark.intel.com/products/64895/Intel-Core-i5-3360M-Processor-3M-Cache-up-to-3_50-GHz" title="Intel ARK">Intel® Core i5-3360M</a></td><td id="FRU">04W4138</td></tr>
													<tr><td><a href="https://ark.intel.com/products/64893/Intel-Core-i7-3520M-Processor-4M-Cache-up-to-3_60-GHz" title="Intel ARK">Intel® Core i7-3520M</a></td><td id="FRU">04W4139</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-palette"></i> &nbsp; Graphics</th><th></th></tr></thead>
												<tbody>
													<tr><td>Intel® HD Graphics 4000</td><td>Always</td></tr>
													<tr><td>NVIDIA® NVS 5400M</td><td>Optional</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-desktop"></i> &nbsp; Displays</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td><a href="http://www.panelook.com/LP140WH2-TLF1_LG%20Display_14.0_LCM_overview_16630.html" title="Panelook">14.0" HD (1366x768)</a></td><td id="FRU">04W3329</td></tr>
													<tr><td><a href="http://www.panelook.com/LP140WD2-TLD2_LG%20Display_14.0_LCM_overview_15542.html" title="Panelook">14.0" HD+ (1600x900)</a></td><td id="FRU">04W3331</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-memory"></i> &nbsp; Memory</th><th></th></tr></thead>
												<tbody>
													<tr><td>Up to 16GB DDR3</td><td></td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-database"></i> &nbsp; Storage</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td>320GB HDD (5400RPM)</td><td id="FRU">42T1210</td></tr>
													<tr><td>500GB HDD (5400RPM)</td><td id="FRU">42T1217</td></tr>
													<tr><td>500GB HDD (7200RPM)</td><td id="FRU">42T1223</td></tr>
													<tr><td>128GB SSD (SATA3)</td><td id="FRU">04Y2127</td></tr>
													<tr><td>180GB SSD (SATA3)</td><td id="FRU">04X4424</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-sitemap"></i> &nbsp; LAN</th><th></th></tr></thead>
												<tbody>
													<tr><td><a href="https://ark.intel.com/products/55350/Intel-82577LM-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82577LM Gigabit</a></td><td></td></tr>
													<tr><td><a href="https://ark.intel.com/products/55349/Intel-82577LC-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82577LC Gigabit</a></td><td></td></tr>
													<tr><td><a href="https://ark.intel.com/products/47620/Intel-82579LM-Gigabit-Ethernet-PHY" title="Intel ARK">Intel® 82579LM Gigabit</a></td><td></td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-wifi"></i> &nbsp; WLAN</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td>ThinkPad BGN 1x1</td><td id="FRU">60Y3247</td></tr>
													<tr><td><a href="https://ark.intel.com/products/59468/Intel-Centrino-Advanced-N--WiMAX-6250-Dual-Band" title="Intel ARK">Intel® Centrino 6250</a></td><td id="FRU">04X6004</td></tr>
													<tr><td><a href="https://ark.intel.com/products/59474/Intel-Centrino-Ultimate-N-6300-Dual-Band" title="Intel ARK">Intel® Centrino 6300</a></td><td id="FRU">04X6003</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-broadcast-tower"></i> &nbsp; WWAN</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td><a href="http://m2msupport.net/m2msupport/sierra-wireless-mc8355-hspa-3g-module/" title="M2M Support">Sierra Gobi 3000</a></td><td id="FRU">60Y3257</td></tr>
													<tr><td><a href="https://techship.com/products/ericsson-h5321gw-101/" title="Techship">Ericsson H5321GW</a></td><td id="FRU">04W3786</td></tr>
												</tbody>
											</table>
											<table>
												<thead><tr><th><i class="fa fa-battery-full"></i> &nbsp; Battery</th><th id="FRUHeader">FRU</th></tr></thead>
												<tbody>
													<tr><td>70+ (6cell 57W/Hr)</td><td id="FRU">45N1005</td></tr>
													<tr><td>70++ (9cell 94W/Hr)</td><td id="FRU">0A36303</td></tr>
													<tr><td>28++ Slice (9cell 94W/Hr)</td><td id="FRU">45N1016</td></tr>
												</tbody>
											</table>
											{% if site.data.t25.memory %}
											<table>
												<thead>
												<tr><th><i class="fa fa-memory"></i> &nbsp; Memory</th><th id="FRUHeader">FRU</th></tr>
												</thead>
												<tbody>
													{% for item in site.data.t25.memory %}
													<tr><td>{% if item.link %}<a href="{{ item.link }}">{% endif %}{{ item.part }}{% if item.link %}</a>{% endif %}</td><td id="FRU">{{ item.fru }}</td></tr>
													{% endfor %}
												</tbody>
											</table>
											{% endif %}
										</section>

										<section>
											<header>
												<h2 style="text-align:center;">Files</h3>
											</header>
											<ul class="buttons">
												<li><a href="./hmm.pdf" class="button special">Hardware Maintenance Manual</a></li>
											</ul>
											<ul class="buttons">
												<li><a href="./frubom.pdf" class="button special">FRU BOM (FRU List)</a></li>
											</ul>
										</section>

										<section>
											<header>
												<h2 style="text-align:center;">Links</h3>
											</header>
											<ul class="buttons">
												<li><a href="https://support.lenovo.com/co/en/solutions/pd023488" class="button special">System Service Parts</a></li>
											</ul>
											<ul class="buttons">
												<li><a href="https://support.lenovo.com/co/en/solutions/pd023489" class="button special">LCD Service Parts</a></li>
											</ul>
										</section>
									</div>

							</div>
						</div>					
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
						</div>
					</section>
			</article>