<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>THINKBASE</h2>
        </header>
        <p>Welcome to <strong>ThinkBase</strong>, 
        <br />
        the modern alternative
        <br />
        to ThinkWiki, by <a href="http://html5up.net">yttrium</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>