<header id="header">
				<h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/logo.png" id="logo"></a></h1>
				<nav id="nav">
					<ul>
						<!-- <li><a href="{{ site.baseurl }}/">Welcome</a></li>
                        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li> -->
						<li class="submenu">
							<a href=""><i class="fa fa-angle-down"></i> &nbsp; T series</a>
							<ul>
								<!-- <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li> -->
								<li class="submenu">
									<a href="">8th Gen</a>
									<ul>
										<li><a href="#">T480</a></li>
										<li><a href="#">T480s</a></li>
										<li><a href="#">T580</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">7th Gen</a>
									<ul>
										<li><a href="#">T470</a></li>
										<li><a href="#">T470p</a></li>
										<li><a href="#">T470s</a></li>
										<li><a href="#">T570</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">6th Gen</a>
									<ul>
										<li><a href="#">T460</a></li>
										<li><a href="#">T460p</a></li>
										<li><a href="#">T460s</a></li>
										<li><a href="#">T560</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">5th Gen</a>
									<ul>
										<li><a href="#">T450</a></li>
										<li><a href="#">T450p</a></li>
										<li><a href="#">T450s</a></li>
										<li><a href="#">T550</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">4th Gen</a>
									<ul>
										<li><a href="#">T440</a></li>
										<li><a href="#">T440p</a></li>
										<li><a href="#">T440s</a></li>
										<li><a href="#">T540</a></li>
										<li><a href="#">T540p</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">3rd Gen</a>
									<ul>
										<li><a href="{{ site.baseurl }}/t430">T430</a></li>
										<li><a href="#">T430i</a></li>
										<li><a href="#">T430s</a></li>
										<li><a href="#">T430u</a></li>
										<li><a href="#">T530</a></li>
										<li><a href="#">T530i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">2nd Gen</a>
									<ul>
										<li><a href="#">T420</a></li>
										<li><a href="#">T420i</a></li>
										<li><a href="#">T420s</a></li>
										<li><a href="#">T420si</a></li>
										<li><a href="#">T520</a></li>
										<li><a href="#">T520i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">1st Gen</a>
									<ul>
										<li><a href="#">T410</a></li>
										<li><a href="#">T410i</a></li>
										<li><a href="#">T410s</a></li>
										<li><a href="#">T410si</a></li>
										<li><a href="#">T510</a></li>
										<li><a href="#">T510i</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">0th Gen</a>
									<ul>
										<li><a href="#">T400</a></li>
										<li><a href="#">T400s</a></li>
										<li><a href="#">T500</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href=""><i class="fa fa-angle-down"></i> &nbsp; X series</a>
							<ul>
								<li class="submenu">
									<a href="">X100 Series</a>
									<ul>
										<li><a href="#">X100e</a></li>
										<li><a href="#">X120e</a></li>
										<li><a href="#">X121e</a></li>
										<li><a href="#">X130e</a></li>
										<li><a href="#">X131e</a></li>
										<li><a href="#">X140e</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X200 Series</a>
									<ul>
										<li><a href="#">X200</a></li>
										<li><a href="#">X200s</a></li>
										<li><a href="#">X201</a></li>
										<li><a href="#">X201i</a></li>
										<li><a href="#">X201s</a></li>
										<li><a href="#">X220</a></li>
										<li><a href="#">X220i</a></li>
										<li><a href="#">X230</a></li>
										<li><a href="#">X230i</a></li>
										<li><a href="#">X240</a></li>
										<li><a href="#">X240s</a></li>
										<li><a href="#">X250</a></li>
										<li><a href="#">X260</a></li>
										<li><a href="#">X270</a></li>
										<li><a href="#">X280</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X200 Tablet Series</a>
									<ul>
										<li><a href="#">X200 Tablet</a></li>
										<li><a href="#">X201 Tablet</a></li>
										<li><a href="#">X220 Tablet</a></li>
										<li><a href="#">X220i Tablet</a></li>
										<li><a href="#">X230 Tablet</a></li>
										<li><a href="#">X230i Tablet</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X300 Series</a>
									<ul>
										<li><a href="#">X300</a></li>
										<li><a href="#">X301</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X1 Carbon</a>
									<ul>
										<li><a href="#">X1 Carbon 1st Gen</a></li>
										<li><a href="#">X1 Carbon 2nd Gen</a></li>
										<li><a href="#">X1 Carbon 3rd Gen</a></li>
										<li><a href="#">X1 Carbon 4th Gen</a></li>
										<li><a href="#">X1 Carbon 5th Gen</a></li>
										<li><a href="#">X1 Carbon 6th Gen</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">X1 Yoga</a>
									<ul>
										<li><a href="#">X1 Yoga 1st Gen</a></li>
										<li><a href="#">X1 Yoga 2nd Gen</a></li>
										<li><a href="#">X1 Yoga 3rd Gen</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href=""><i class="fa fa-angle-down"></i> &nbsp; W series</a>
							<ul>
								<!-- <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li> -->
								<li class="submenu">
									<a href="">W500 Series</a>
									<ul>
										<li><a href="#">W500</a></li>
										<li><a href="#">W510</a></li>
										<li><a href="#">W520</a></li>
										<li><a href="#">W530</a></li>
										<li><a href="#">W540</a></li>
										<li><a href="#">W550s</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">W700 Series</a>
									<ul>
										<li><a href="#">W700</a></li>
										<li><a href="#">W700ds</a></li>
										<li><a href="#">W701</a></li>
										<li><a href="#">W701ds</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href=""><i class="fa fa-angle-down"></i> &nbsp; P series</a>
							<ul>
								<!-- <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li> -->
								<li class="submenu">
									<a href="">P50 Series</a>
									<ul>
										<li><a href="#">P50</a></li>
										<li><a href="#">P51</a></li>
										<li><a href="#">P51s</a></li>
										<li><a id="ComingSoon" title="Coming Soon">P52</a></li>
										<li><a href="#">P52s</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">P70 Series</a>
									<ul>
										<li><a href="#">P70</a></li>
										<li><a href="#">P71</a></li>
										<li><a id="ComingSoon" title="Coming Soon">P72</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">P1 Series</a>
									<ul>
										<li><a id="ComingSoon" title="Coming Soon">P1</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href=""><i class="fa fa-angle-down"></i> &nbsp; OTHER series</a>
							<ul>
								<li class="submenu">
									<a href="">A series</a>
									<ul>
										<li><a href="#">A1</a></li>
										<li><a href="#">A2</a></li>
										<li><a href="#">A3</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">E series</a>
									<ul>
										<li><a href="#">E1</a></li>
										<li><a href="#">E2</a></li>
										<li><a href="#">E3</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">L series</a>
									<ul>
										<li><a href="L410">L410</a></li>
										<li><a href="L412">L412</a></li>
										<li><a href="L420">L420</a></li>
										<li><a href="L421">L421</a></li>
										<li><a href="L440">L430</a></li>
										<li><a href="L440">L440</a></li>
										<li><a href="L450">L450</a></li>
										<li><a href="L460">L460</a></li>
										<li><a href="L470">L470</a></li>
										<li><a href="L480">L480</a></li>
										<li><a href="L510">L510</a></li>
										<li><a href="L512">L512</a></li>
										<li><a href="L520">L520</a></li>
										<li><a href="L530">L530</a></li>
										<li><a href="L540">L540</a></li>
										<li><a href="L560">L560</a></li>
										<li><a href="L570">L570</a></li>
										<li><a href="L580">L580</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">Helix</a>
									<ul>
										<li><a href="#">Helix</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">ThinkPad 13</a>
									<ul>
										<li><a href="#">1st Gen</a></li>
										<li><a href="#">2nd Gen</a></li>
										<li><a href="#">Chromebook</a></li>
									</ul>
								</li>
								<li>
									<a href="">ThinkPad 25</a>
								</li>
								<li class="submenu">
									<a href="">Twist</a>
									<ul>
										<li><a href="#">Twist</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="">Yoga</a>
									<ul>
										<li><a href="#">L380 Yoga</a></li>
										<li><a href="#">X380 Yoga</a></li>
										<li><a href="#">Yoga 370</a></li>
										<li><a href="#">Yoga 260</a></li>
										<li><a href="#">Yoga 11e</a></li>
										<li><a href="#">P40 Yoga</a></li>
										<li><a href="#">Yoga</a></li>
										<li><a href="#">Yoga 14</a></li>
									</ul>
								</li>
								<li>
									<a href="">51nb</a>
								</li>
								
							</ul>
						</li>
						<!-- <li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>